<%-include('index_partials/header.ejs');-%>
<div class="row " style="margin-top: 80px;">
    <div class="col col-12 col-sm-12 col-lg-2 col-md-3 col-xl-2  ">
       <%if(!notes.length==0){%>
        <div class="container-fluid">
            <button id="newnote" type="button" class="btn d-none d-lg-block  d-xl-block d-xl-none  btn-block justify-content-center  btn-outline-dark  btn-lg" style="font-size: 20px; font-weight: bold; padding-bottom: 10px;" data-toggle="modal" data-target="#addnote">
                <i class="fas fa-plus mr-2" ></i> New note
            </button>
            <div class="dropdown ">
                <button class="btn btn-outline-dark btn-block mt-2 d-none d-lg-block  d-xl-block d-xl-none  dropdown-toggle" type="button" id="dropdownSortButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <small >Sort by:</small> 
                </button>
                <div class="dropdown-menu border-0 radius-0 text-center" aria-labelledby="dropdownSortButton">
                    <a class="dropdown-item pt-1 border-0 font-weight-bold " href="/mynotes">All notes</a>
                  <a class="dropdown-item bg-dark pt-1 border-0 font-weight-bold text-white" href="/mynotes/normal">Normal Importance</a>
                  <a class="dropdown-item bg-warning pt-1 border-0 font-weight-bold text-white" href="/mynotes/important">Important Notes</a>
                  <a class="dropdown-item bg-danger pt-1 border-0 font-weight-bold text-white" href="/mynotes/veryimportant">Very Important Notes</a>
                </div>
              </div>
        </div>
        
        <div class="container mt-2">
            <div class="mt-2">
                <% if(error_msg.length>0){%>
                    <%-include('warnings/alert.ejs');-%>
                  <%}%>
                  <% if(success_msg.length>0){%>
                    <%-include('warnings/success.ejs');-%>
                <%}%>
            </div>
           
        </div>
        
    <%}%>
    </div>
    <div class="col col-sm-12 col-12   col-lg-8 col-md-8" >
      <div class="container-fluid">
        <h1 id="headernotes" class="bg-dark text-white  pt-2 pb-2 text-center " > All my notes</h1> 
     
       
        <%if(!notes.length==0){%>
        <form id="search" action="/notesearch/" class="mt-2  mb-2  justify-content-center" method="post">
            <div class="input-group ">
                <input name="search" class="form-control "  placeholder="Search note by title">
                <div class="input-group-prepend">
                    <button type="submit" class="btn btn-outline-dark "><i class="fas fa-search"></i></button>
                </div>
            </div>   
        </form>  
      </div>
    <%}%>  
    <section id="usernotes" class="mb-5">
        <%if(notes.length>0){%>
            <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 row-cols-md-2 row-cols-sm-2">
              
                    <% for (var i = 0;  i< notes.length; i++){%>
                      
                        <div class="col mt-2">
                            <div class="container-fluid">
                                <div class="card  border-<%=notes[i].importance%> h-100 w-100 ">
                                    <div class="card-header  d-flex justify-content-between bg-<%=notes[i].importance%> text-white text-center">
                                      <strong class="text-center"> <%=notes[i].title%></strong>
                                        <div >
    
                                            <button type="button" data-toggle="modal" data-target="#editnote<%= notes[i].idnote %>" class="btn btn-secondary btn-sm ml-1 mb-1 " style="border:0px"><i class="fas fa-pen"></i></button>
                                            <button type="button" data-toggle="modal" data-target="#deletenote<%= notes[i].idnote %>"  style="background-color:brown; border: 0px;" class="btn btn-sm btn-danger mb-1"><i class="fas fa-trash"></i></button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                      <p class="card-text text-justify"><%=notes[i].content%></p>
                                      <small>Created at: <%=notes[i].createdat%></small>
                                      <!-- <button type="button" data-toggle="modal" data-target="#editnote<%= notes[i].idnote %>" class="btn btn-sm btn-outline-dark btn-block"><i class="fas fa-pen mr-3"></i>Edit</button>
                                      <button type="button" data-toggle="modal" data-target="#deletenote<%= notes[i].idnote %>" class="btn btn-sm btn-outline-danger btn-block"><i class="fas fa-trash mr-3"></i>Delete</button> -->
                                      
                                    </div>
                                  </div>    
                            </div>
                           
                        </div>
                        <%}%>                        
        </div>  
        <div class="dropdown">
          <button class="btn btn-dark mt-2 d-xl-none d-lg-none  dropdown-toggle" type="button" id="SortButtonFloat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <small >Sort by:</small> 
          </button>
          <div class="dropdown-menu border-0 radius-0 text-center" aria-labelledby="SortButtonFloat">
              <a class="dropdown-item pt-1 border-0 font-weight-bold " href="/mynotes">All notes</a>
            <a class="dropdown-item bg-dark pt-1 border-0 font-weight-bold text-white" href="/mynotes/normal">Normal Importance</a>
            <a class="dropdown-item bg-warning pt-1 border-0 font-weight-bold text-white" href="/mynotes/important">Important Notes</a>
            <a class="dropdown-item bg-danger pt-1 border-0 font-weight-bold text-white" href="/mynotes/veryimportant">Very Important Notes</a>
          </div>
        </div>
        <button type="button" data-toggle="modal" data-target="#addnote" class="kc_fab_main_btn d-xl-none d-lg-none">+</button>
 
    </section>
    <%}else{%>
        <div class="container-fluid">
            <div id="nonotes">
                <h1 class="text-center mt-5">You dont have any notes yet.</h1>
                <button type="button" class="btn btn-block   justify-content-center  btn-outline-dark  btn-lg" style="font-size: 40px; font-weight: bold; padding-bottom: 22px;" data-toggle="modal" data-target="#addnote">
                    <i class="fas fa-plus mr-2" ></i> ¡Write my first note!
                </button>
            </div>
        </div>
           <% }%>
    </div>
</div>
<% for (var i = 0;  i< notes.length; i++){%>
    <!--Delete note modal-->
    <div>
      <div class="container-fluid">
          <div id="deletenote<%= notes[i].idnote %>" class="modal fade modal-fullscreen-sm-down" tabindex="-1">
              <div class="modal-dialog modal-lg">
                <div class="modal-content ">
                  <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white" style="font-weight: bold; font-size: 34px;">¿Delete note '<%= notes[i].title %>'?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                    <!--<a href="/users" class="close" >
                      <span aria-hidden="true">&times;</span>
                  </a>-->
                  </div>
                  <div class="modal-body">
                          <a href="/deletenote/<%= notes[i].idnote %>/<%= notes[i].title %>" class="btn btn-outline-danger  btn-block" >Delete</a>
                          <button type="button" data-dismiss="modal" class="btn btn-outline-dark btn-block">Cancel</button>                      
                                 
                  </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
  <!--/Delete note modal-->
  <%}%>  

  <% for (var i = 0;  i< notes.length; i++){%>
    <!--edit note modal-->
    <div>
      <div class="container-fluid">
          <div id="editnote<%= notes[i].idnote %>" class="modal fade modal-fullscreen-sm-down" tabindex="-1">
              <div class="modal-dialog modal-lg">
                <div class="modal-content ">
                  <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white" style="font-weight: bold; font-size: 34px;">Edit note '<%= notes[i].title %>'</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                    <!--<a href="/users" class="close" >
                      <span aria-hidden="true">&times;</span>
                  </a>-->
                  </div>
                  <div class="modal-body">
                    <form action="/editnote/<%=notes[i].idnote%>" method="post">
                        <div class="form-group">
                            <input type="text" value="<%=notes[i].title%>" id="notetitleE"  maxlength="14" name="title" placeholder="Note title" class="form-control">
                            <span id="TlengthE" style="font-size:14px;"></span>
                        </div>  
                        <div class="form-group">
                            <label for="content">Note content:</label>
                            <textarea class="form-control" value="<%=notes[i].content%>" name="content" id="content " cols="30" rows="8"><%=notes[i].content%></textarea>
                        </div>  
                        <select name="importance"  value="<%=notes[i].importance%>" class="form-control mb-2" required>               
                            <%if(notes[i].importance=='dark'){ %>
                                <option selected value="dark">Normal</option>
                                <option value="warning">Important</option>
                                <option value="danger">Very Important</option>
                            <%}  %>
                            <%if(notes[i].importance=='warning'){ %>
                                <option value="dark">Normal</option>
                                <option selected value="warning">Important</option>
                                <option value="danger">Very Important</option>
                            <%}  %>
                            <%if(notes[i].importance=='danger'){ %>
                                <option value="dark">Normal</option>
                                <option value="warning">Important</option>
                                <option selected value="danger">Very Important</option>
                            <%} %>
                            
                          </select> 
                        <button type="submit" class="btn btn-outline-dark btn-block">Save Changes</button>  
                        <button type="button" data-dismiss="modal" class="btn btn-outline-dark btn-block">Cancel</button>                    
                    </form>                       
                  </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
       
  <!--/edit note modal-->
  <%}%> 
   <script>
          const noteTitleEdit = document.getElementById('notetitleE')
          const adviseTitleEdit = document.getElementById('TlengthE')
          noteTitleEdit.addEventListener("keyup",()=>{
            if(noteTitleEdit.value.length>=14){
             
              adviseTitleEdit.innerHTML="Note title maximun length is 14 characters";
            }else{
      
              adviseTitleEdit.innerHTML="";
            }
          })
      
      </script>

  <link rel="stylesheet" type="text/css" href="/footerstyle.css">
<script>
window.sr = ScrollReveal();
sr.reveal('#nonotes',{
    duration: 2000,
    origin: 'bottom',
    distance: '300px'
});


sr.reveal('#search',{
    duration: 1000,
    origin: 'top',
    distance: '400px'
});
sr.reveal('#newnote',{
    duration: 1000,
    origin: 'right',
    distance: '10px'
});
sr.reveal('#dropdownSortButton',{
    duration: 1000,
    origin: 'left',
    distance: '10px'
});

</script>

<%-include('index_partials/footer.ejs');-%>
<%-include('notesControls/addmodal.ejs');-%>
