<%-include('index_partials/header.ejs');-%>
<div class="row" style="margin-top: 80px;">
  <!--Left column-->
    <div class="col col-12 col-sm-12 col-lg-2 col-md-3 col-xl-2">
       <%if(!notes.length==0){%>
        <div class="container-fluid ">
            <button id="newnote" type="button"  class="btn position-fixed d-none d-lg-block  d-xl-block d-xl-none   justify-content-center  btn-primary  btn-lg" style="font-size: 20px; font-weight: bold; padding-bottom: 10px;" data-toggle="modal" data-target="#addnote">
                <i class="fas fa-plus mr-2" ></i> New note
            </button>
            <!-- <button id="trybeta" type="button"  class="btn position-fixed d-none d-lg-block  d-xl-block d-xl-none   justify-content-center  btn-secondary  btn-lg" style="font-size: 20px; font-weight: bold; padding-bottom: 10px; margin-top: 110px;">
              Try beta
          </button> -->
            <div class="dropdown ">
                <button class="btn btn-primary d-none d-lg-block position-fixed  d-xl-block d-xl-none  dropdown-toggle" type="button" id="dropdownSortButton" style="margin-top: 60px;"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <small >Sort by:</small> 
                </button>
                <div class="dropdown-menu border-0 radius-0 text-center" aria-labelledby="dropdownSortButton">
                    <a class="dropdown-item pt-1 border-0 font-weight-bold " href="/mynotes">All notes</a>
                  <a class="dropdown-item bg-dark pt-1 border-0 font-weight-bold text-white" href="/mynotes/normal">Normal Importance</a>
                  <a class="dropdown-item bg-warning pt-1 border-0 font-weight-bold text-white" href="/mynotes/important">Important Notes</a>
                  <a class="dropdown-item bg-danger pt-1 border-0 font-weight-bold text-white" href="/mynotes/veryimportant">Very Important Notes</a>
                </div>
              </div>
        </div>
        <div class="container">
          <div class="mt-2 d-xl-none d-lg-none">  
              <% if(error_msg.length>0){%>
                  <%-include('warnings/alert.ejs');-%>
                <%}%>
                <% if(success_msg.length>0){%>
                  <%-include('warnings/success.ejs');-%>
              <%}%>
          </div>   
      </div>
    <%}%>
    </div>
    <!--Center column-->
    <div class="col col-sm-12 col-12 col-lg-8 col-md-8 vh-100 " >
      <div class="container-fluid">
        <h1  class="bg-custom-4  font-weight-bolder pt-2 pb-2 text-center text-white rounded" > <%=actualNotes%></h1> 
        <%if(!notes.length==0){%>
        <form id="search" action="/notesearch/" class="mt-2  mb-2  justify-content-center" method="post">
            <div class="input-group ">
                <input name="search" class="form-control "  placeholder="Search note by title" required>
                <div class="input-group-prepend">
                    <button type="submit" class="btn btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Click to search"><i class="fas fa-search"></i></button>
                </div>
            </div>   
        </form>  
      </div>
    <%}%>  
    <section id="usernotes" class="mb-5">
        <%if(notes.length>0){%>
            <div class="row  row-cols-1 no-gutters  row-cols-lg-3 row-cols-xl-3 row-cols-md-2 row-cols-sm-2">        
                    <% for (var i = 0;  i< notes.length; i++){%>
                        <div class="col  mt-2">
                            <div class="container-fluid">
                                <div class="card  border-<%=notes[i].importance%> w-100 " data-toggle="tooltip" data-placement="top" title="Click to edit">
                                    <div class="card-header  d-flex justify-content-between bg-<%=notes[i].importance%> text-white text-center">
                                      <strong class=" d-inline-block text-center text-truncate" style="max-width:60%;"> <%=notes[i].title%></strong>
                                        <div >
                                            <button type="button" data-toggle="modal" data-target="#editnote<%= notes[i].idnote %>" class="btn btn-primary btn-sm ml-1 mb-1 " style="border:0px"><i class="fas fa-pen"></i></button>
                                            <button type="button" data-toggle="modal" data-target="#deletenote<%= notes[i].idnote %>"  style="background-color:brown; border: 0px;" class="btn btn-sm btn-danger mb-1"><i class="fas fa-trash"></i></button>
                                        </div>
                                    </div>
                                    <div class="card-body" data-toggle="modal" data-target="#editnote<%= notes[i].idnote %>" >
                                      <p class="card-text text-justify"><%=notes[i].content%></p>
                                      <small>Created at: <%=notes[i].createdat%></small>                                  
                                    </div>
                                  </div>    
                            </div>   
                        </div>
                        <%}%>                        
        </div>  
        <div class="dropdown">
          <button class="btn btn-primary mt-2 d-xl-none d-lg-none  dropdown-toggle" type="button" id="SortButtonFloat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <small >Sort by:</small> 
          </button>
          <div class="dropdown-menu border-0 radius-0 text-center" aria-labelledby="SortButtonFloat">
              <a class="dropdown-item pt-1 border-0 font-weight-bold " href="/mynotes">All notes</a>
            <a class="dropdown-item bg-dark pt-1 border-0 font-weight-bold text-white" href="/mynotes/normal">Normal Importance</a>
            <a class="dropdown-item bg-warning pt-1 border-0 font-weight-bold text-white" href="/mynotes/important">Important Notes</a>
            <a class="dropdown-item bg-danger pt-1 border-0 font-weight-bold text-white" href="/mynotes/veryimportant">Very Important Notes</a>
          </div>
        </div>
        <button type="button" data-toggle="modal" data-target="#addnote" class="kc_fab_main_btn btn-primary d-xl-none d-lg-none">+</button>
 
    </section>
    <%}else{%>
        <div class="container-fluid">
            <div id="nonotes">
                <h1 class="text-center mt-5">You dont have any notes yet.</h1>
                <button type="button" class="btn btn-block   justify-content-center  btn-primary  btn-lg" style="font-size: 40px; font-weight: bold; padding-bottom: 22px;" data-toggle="modal" data-target="#addnote">
                    <i class="fas fa-plus mr-2" ></i> ¡Write my first note!
                </button>
            </div>
        </div>
           <% }%>
    </div>
    <%if(notes.length>0){%>
    <!--Right column-->
    <div class="col col-12 col-sm-12 col-lg-2 col-md-3 col-xl-2 d-none d-lg-block  d-xl-block d-xl-none  ">
      <div class="container-fluid">
        <h1  class="bg-custom-3 text-white  pt-2 pb-2 w-100 text-center rounded"><i class="far fa-bell"></i></h1>
        <div class="mt-2">  
            <% if(error_msg.length>0){%>
                <%-include('warnings/alert.ejs');-%>
              <%}%>
              <% if(success_msg.length>0){%>
                <%-include('warnings/success.ejs');-%>
            <%}%>
        </div>   
    </div>
    </div>
  <%}%>
</div>
<% for (var i = 0;  i< notes.length; i++){%>
    <!--Delete note modal-->
    <div>
      <div class="container-fluid">
          <div id="deletenote<%= notes[i].idnote %>" class="modal fade zoom-in modal-fullscreen-sm-down" tabindex="-1">
              <div class="modal-dialog modal-md">
                <div class="modal-content ">
                  <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white" style="font-weight: bold; font-size: 34px;">¿Delete note '<%= notes[i].title %>'?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="d-flex justify-content-between d-inline">
                      <a href="/deletenote/<%= notes[i].idnote %>/<%= notes[i].title %>" class="btn btn-primary  w-50 mx-1" >Delete</a>
                      <button type="button" data-dismiss="modal" class="btn btn-secondary w-50">Cancel</button>   
                    </div>               
                  </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
  <!--/Delete note modal-->
  <%}%>  

  <% for (var i = 0;  i< notes.length; i++){%>
    <!--edit note modal-->
    <div>
      <div class="container-fluid">
          <div id="editnote<%= notes[i].idnote %>" class="modal fade zoom-in modal-fullscreen-sm-down" tabindex="-1">
              <div class="modal-dialog modal-md">
                <div class="modal-content ">
                  <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white" style="font-weight: bold; font-size: 34px;">Edit note '<%= notes[i].title %>'</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/editnote/<%=notes[i].idnote%>" method="post">
                        <div class="form-group">
                            <input type="text" value="<%=notes[i].title%>" id="notetitleE<%= notes[i].idnote %>"   name="title" placeholder="Note title" class="form-control">
                            <span id="TlengthE<%= notes[i].idnote %>" style="font-size:14px;"></span>
                        </div>  
                        <div class="form-group">
                            <label for="content">Note content:</label>
                            <textarea class="form-control" value="<%=notes[i].content%>" name="content" id="content" cols="30" rows="6"><%=notes[i].content%></textarea>
                        </div>  
                        <select name="importance"  value="<%=notes[i].importance%>" class="form-control mb-2" required>               
                            <%if(notes[i].importance=='dark'){ %>
                                <option selected value="dark">Normal</option>
                                <option value="warning">Important</option>
                                <option value="danger">Very Important</option>
                            <%}  %>
                            <%if(notes[i].importance=='warning'){ %>
                                <option value="dark">Normal</option>
                                <option selected value="warning">Important</option>
                                <option value="danger">Very Important</option>
                            <%}  %>
                            <%if(notes[i].importance=='danger'){ %>
                                <option value="dark">Normal</option>
                                <option value="warning">Important</option>
                                <option selected value="danger">Very Important</option>
                            <%} %>
                            
                          </select>                       
                          <div class="d-flex justify-content-between d-inline mt-4">
                            <button type="submit" class="btn btn-primary w-50 mx-1">Save Changes</button> 
                            <button type="button" data-dismiss="modal" class="btn btn-secondary w-50 ">Cancel</button>  
                          </div>                  
                    </form>                       
                  </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
  <%}%> 

<script>
window.sr = ScrollReveal();
sr.reveal('#nonotes',{
    duration: 2000,
    origin: 'bottom',
    distance: '300px'
});

sr.reveal('#newnote',{
    duration: 1000,
    origin: 'right',
    distance: '10px'
});
sr.reveal('#dropdownSortButton',{
    duration: 1000,
    origin: 'left',
    distance: '10px'
});
</script>
<%-include('notesControls/addmodal.ejs');-%>
<%-include('index_partials/footer.ejs');-%>



