<%- include('index_partials/header.ejs')-%>

<div  id="welcome" class="h1 text-center  bg-light pt-3 pb-3" >Edit Profile</div>

<div class="container">
    <a href="/profile" class=" mt-1 mb-2 btn btn-secondary btn-lg btn-block">
        <i class="fas fa-arrow-left mr-2"></i>Back to profile
        </a>
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-6 ">
            <div id="profile-card" class="card mb-3 " style="width: 100%;">
                <ul class="list-group list-group-flush">
                  <li id="profile-card-header" class="list-group-item bg-custom-1 font-weight-bolder text-center">My Profile</li>
                  <div id="profile-card-content" class="text-center">
                    <form action="/editprofile" method="POST">
                      <li class="list-group-item border-0 pb-0">Fullname: </li>
                     
                      <li class="list-group-item border-0 pt-1 pb-1" ><input name="firstname" value="<%=user.firstname%>" type="text" class="form-control"></li>
                      <li class="list-group-item  border-0 pt-1 pb-1" ><input name="lastname" value="<%=user.lastname%>" type="text" class="form-control"></li>
                      <li class="list-group-item border-0 pb-0">Email: </li>
                      <li class="list-group-item pt-1 " ><input name="email" value="<%=user.email%>" type="text" class="form-control"></li>
                  
                  </div> 
                </ul>
                <div class="card-footer">
                  <button type="submit" class="btn btn-secondary   btn-block">
                    Save Changes
                    </button>
                    
                    </form>
                    
                </div>
              </div>
        </div>  
        <div id="user-controls" class=" mb-5 col-12 col-sm-12 col-md-6">
          <div class="bg-whitesmoke  rounded">
            <h1 class=" text-center bg-custom-1 font-weight-bolder rounded py-2">Security</h1> 
            <button  type="button" data-toggle="modal" data-target="#changepass" class=" mt-2 btn btn-secondary   btn-block">
              Change Password</button>

          </div>
                <div class="bg-whitesmoke  rounded">
                  <h1 class=" text-center mt-4 bg-custom-1 font-weight-bolder rounded py-2">Preferences</h1> 
                  <div class="form-group d-flex justify-content-center font-weight-bolder">       
                       <label for="Start Screen">Start Screen: <p style="display: inline; text-transform: uppercase;"><%=user.startscreen%></p>  </label>          
                      
                </div>  
                <button  type="button" data-toggle="modal" data-target="#changescreen" class="btn btn-secondary btn-block">
                  Change Start Screen</button>    
            </div>    
        </div>   
    </div>
</div>

<!--Change pass modal-->
<div class="container-fluid">
    <div id="changepass" class="modal fade modal-fullscreen-sm-down" tabindex="-1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content ">
            <div class="modal-header bg-custom-3">
              <h5 class="modal-title text-white " style="font-weight: bold; font-size: 34px;">Change password</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-white">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="/changepass" method="post">
                    <div class="form-group">
                        <input type="password" name="oldpass" name="oldpass" placeholder="Actual password" class="form-control">
                    </div> 
                    <div class="form-group">
                        <input type="password" id="newpass" name="newpass" placeholder="New password" class="form-control">
                    </div>  
                    <small><p id="res"></p></small>
                    <div class="form-group">
                        <input type="password" id="confirm" name="confirm" placeholder="Confirm" class="form-control">
                    </div>   
                    <small><p id="match"></p></small>
                    <button id="savepass" type="submit" class="btn btn-secondary  btn-block">Change password</button>  
                    <button type="button" data-dismiss="modal" class="btn btn-secondary  btn-block">Cancel</button>  
                      
                </form>                
            </div>
            </div>
          </div>
        </div>
      </div>

  <!--Change screen modal-->
<div class="container-fluid">
    <div id="changescreen" class="modal fade modal-fullscreen-sm-down" tabindex="-1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content ">
            <div class="modal-header bg-custom-3">
              <h5 class="modal-title text-white" style="font-weight: bold; font-size: 34px;">Change Start Screen</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-white">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="/changescreen" method="post">
                    <label for="">Select one screen:</label>
                    <select name="startscreen"  class="form-control mb-2" required>               
                        <option value="mynotes">My notes</option>
                        <option value="profile">Profile</option>
                      </select> 
                    <button  type="submit" class="btn btn-secondary  btn-block">Save</button>  
                    <button type="button" data-dismiss="modal" class="btn btn-secondary  btn-block">Cancel</button>                      
                </form>                
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  
<script>
window.sr = ScrollReveal();
sr.reveal('#welcome',{
    duration: 1000,
    origin: 'top',
    distance:'100px'
});
sr.reveal('#profile-card',{
    duration: 1000,
    origin: 'left',
    distance:'30px'
});

sr.reveal('#user-controls',{
    duration: 1000,
    origin: 'bottom',
    distance:'100px'
});
</script>

<script type="module" src="/js/UserValidations/changepass.validation.js"></script>      
<link rel="stylesheet" href="/footerstyle.css">
<%-include('index_partials/footer.ejs');-%>
