<%- include('index_partials/header.ejs')-%>
<div  id="welcome" class="h1 text-center  bg-light pt-3 pb-3" >¡Welcome <%=user.firstname%>!</div>
<div class="container">
  <% if(error_msg.length>0){%>
    <%-include('warnings/alert.ejs');-%>
  <%}%>
  <% if(success_msg.length>0){%>
    <%-include('warnings/success.ejs');-%>
  <%}%>
    <div class="row">
        <div class="col">
            <div id="profile-card" class="card " style="width: 100%;">
                <ul class="list-group list-group-flush">
                  <li id="profile-card-header" class="list-group-item bg-dark text-white text-center">My Profile</li>
                  <div id="profile-card-content" class="text-center">
                    <li class="list-group-item border-0">Fullname: </li>
                    <li class="list-group-item pt-0"><%=user.firstname%> <%=user.lastname%></li>
                    <li class="list-group-item border-0">Email: </li>
                    <li class="list-group-item pt-0"><%=user.email%></li>
                    <li class="list-group-item border-0">Created notes: </li>
                    <li class="list-group-item pt-0"><%=notes[0].num%></li>
                  </div> 
                </ul>
              </div>
        </div>  
        <div id="user-controls" class="col">
          <%if(user.privileges == "Admin"){%>
            <h1 class=" text-center bg-dark text-white pt-2 pb-2">Current admin profile</h1>
            <a href="/users" class=" mt-2 btn mb-5 btn-outline-dark btn-block">
              <i class="fas fa-users"></i> See users list</a>
          <%}%>
          <h1 class=" text-center bg-dark text-white pt-2 pb-2">Options</h1>
            <a  href="/mynotes" class="mt-2 mb-2 btn btn-outline-dark btn-block">
              <i class="far fa-sticky-note"></i> Go to my notes</a>
              <a href="/editprofile/<%=user.iduser%>" class="btn  btn-outline-dark btn-block">
                <i class="fas fa-cog"></i> Profile settings
                </a>  
              <a href="/logout" class=" mt-2 mb-5 btn btn-outline-dark btn-block">
                <i class="fas fa-sign-out-alt"></i> Log Out</a>   
             
        </div>
    </div>
</div>

<script>
window.sr = ScrollReveal();
sr.reveal('#welcome',{
    duration: 1000,
    origin: 'top',
    distance:'100px'
});
sr.reveal('#profile-card',{
    duration: 1000,
    origin: 'left',
    distance:'30px'
});

sr.reveal('#user-controls',{
    duration: 1000,
    origin: 'bottom',
    distance:'100px'
});
</script>
<div style="margin-top: 31vh;">
  <%-include('index_partials/footer.ejs');-%>
</div>


